@model List<FreshMove.Models.actors.Supplier>

@{
    ViewData["Title"] = "Suppliers";
}

<div class="container-fluid mt-4 mx-5">




    <h2 class="mb-5" style="font-weight:600; color:var(--Green);">Suppliers</h2>

    <div class="d-flex pb-2 mb-4">

        <div class="">
            <h4 style="font-weight:600;">Add A New Supplier </h4>
        </div>
        <div class="ms-auto">
            <a class="btn btn-primary" asp-action="AddSupplier" asp-controller="Supplier"> Add Supplier</a>
        </div>
    </div>

    <h4 class="mb-5">List of suppliers</h4>
    @if (Model.Count()!= 0)
    {
        <table class="table">
            <thead>
                <tr>
                <th>
                     #
                </th>
                <th>
                    Supplier Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phyiscal Address
                </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhysicalAddress)
                        </td>
                        <td>
                            <a asp-action="EditSupplier" asp-controller="Supplier" asp-route-id="@item.Id"> <i class="bi bi-pen " style="color:#023047"></i></a> |

                            <a asp-action="" asp-controller="Admin" asp-route-id="@item.Id">  <i class="bi bi-trash2" style="color:#ae2012"> </i> </a>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            The List of Suppliers is Empty
        </div>


    }

</div>