@model List<FreshMove.Models.products.Product>
@using FreshMove.Models.users;
@using Microsoft.AspNetCore.Identity
@using FreshMove.Constants;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Products";
}

<div class="container-fluid mt-4 mx-5">




    <h2 class="mb-5" style="font-weight:600; color:var(--Green);">Products</h2>

    <div class="d-flex pb-2 mb-4">
         @if (User.IsInRole(RoleConstants.StockManager))
        {
            <div class="">
                <h4 style="font-weight:600;">Add A New Product </h4>
            </div>
            <div class="ms-auto">
                <a class="btn btn-primary" asp-action="AddProduct" asp-controller="Product"> Add Product</a>
            </div>
        }
        else
        {
            
            
        }

    </div>

    <h4 class="mb-5">List of Products</h4>

    @if (Model.Count() != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th> 
                    <th>
                        Product Image
                    </th> 
                        
                    <th>
                         Product Name
                    </th> 
                    <th>
                         Category
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>
                            @i
                        </td> 
                        <td>
                            <img src="~/product/@item.productImage" alt="@item.Name +@item.Description" height="120px" width="120px" />
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>

                            @item.Category.Name
                        </td>
                        <td class="text-wrap" style="width: 50%">
                            @item.Description
                        </td>    
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            R @item.Price
                        </td>

                        @if (User.IsInRole(RoleConstants.StockManager))
                        {

                          <td>
                            <a asp-action="EditProduct" asp-controller="Product" asp-route-id="@item.Id"> <i class="bi bi-pen " style="color:#023047"></i></a> |

                            <a asp-action="" asp-controller="" asp-route-id="@item.Id">  <i class="bi bi-trash2" style="color:#ae2012"> </i> </a>
                         </td>
                        }
                        else{
                            <td>


                            </td>
                        }
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            The List of Products is Empty
        </div>


    }

</div>